extends ./layouts/index

block contenido
    main(class="max-w-screen-xl mx-auto")
        h1(class="font-title text-5xl text-indigo-800 my-8 text-center tracking-widest")= pagina
        
        div(class="w-full mx-auto grid grid-cols-3 gap-8 my-20")
            each testimonial in testimoniales
                div(class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow")
                    img(src="/img/quote.jpg", alt="Comillas de cita") 
                    p(class="my-2 text-2xl font-bold tracking-tight text-gray-900 text-center")= testimonial.mensaje 
                    p(class="font-normal text-xl text-indigo-700 text-right") ~ #{testimonial.nombre}

        div 
            h2(class="text-2xl font-subtitle text-center mb-5") Agrega un testimonial
            
            div(class="w-1/2 mx-auto") 
                if(errores)
                    each error in errores 
                        div(class="flex p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-400 dark:border-red-800" role="alert")
                            svg(aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd")
                            span(class="sr-only") Info
                            div
                                span(class="font-medium")= error.mensaje

                form(action="/testimoniales" method="POST")
                    div(class="mb-6")
                        label(for="nombre" class="block mb-2 text-sm font-medium text-gray-700") Nombre 
                        input#nombre(type="text" name="nombre" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Nombre" required value= nombre)
                    div(class="mb-6")
                        label(for="email" class="block mb-2 text-sm font-medium text-gray-700") Email 
                        input#email(type="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Email" required value= email)                
                    div(class="mb-6")
                        label(for="mensaje" class="block mb-2 text-sm font-medium text-gray-700") Mensaje 
                        textarea#mensaje(name="mensaje", rows="5" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Tu mensaje" required)= mensaje
                    button(class="w-full relative inline-flex items-center justify-center p-0.5 mb-6 mr-2 overflow-hidden text-sm font-medium text-gray-700 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800")
                        span(class="w-full relative text-base px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0") Enviar